
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.20)) ,url("./download.jfif");
    background-position-y: center;
    background-size: cover;
    background-repeat: repeat-y;

    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 85vh;
    background-color: white;
    margin: 5vh auto;
    padding: 4vh;
    box-shadow: 5px 3px 8px #888888;
}
form {
    display: flex;
    flex-direction: column;
}
input[type=email], input[type=password], input[type=text],input[type=number] ,input[type=date]  {
    width: 100%;
    padding: 9px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#phone{
    width: 100%;
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #BF834E;
    color: white;
    padding: 11px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    opacity: 0.8;
}
h3 {
    text-align: center;
    color: #BF834E;
}


.error{
    display: none;
    color: red;
    font-size: 8px;
    margin-top: -4px;
}
.container form p{
    color: red;
    font-size: 0.75em;
    margin: 0 0 0 6px;
}
#para {
    color: #BF834E;
    font-weight: bold;
    font-size: 0.8em;
}
#para a{
        text-decoration: none;

}

@media screen and (max-width: 960px) {
    .container {
        width: 90%;
    }
  }

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
  }
